*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(237, 180, 164);
    padding: 10px;
    border-radius: 10px;
}
.header{
    margin: 20px;
} 
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px
}
.header nav .btn{
    border-radius:10px ;
    padding: 10px;
    border: none;
    border: 1px solid rgb(240, 154, 17);
}


